body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sentenceHighlight{
  position: relative;
  cursor: pointer;
}

.sentenceHighlight .tooltip {
  display:none;
  position: absolute;
  top: -100px;
  border: 2px solid hotpink;
  border-radius: 4px;
  padding: 15px;
  flex-direction: column;
  left: 0;
  background-color: white;
  width: 100px;
  color: black;
  
  
}

.sentenceHighlight:hover .tooltip{
  display: flex;
}